@import "./variables.scss";

.box {
  background: #fff;
  border: 1px solid $lightGray2;
  /*box-shadow: 2px 2px 10px rgb(201, 201, 201);*/
  border-radius: 4px;
  margin-bottom: 20px;

  & > * {
    padding: 10px;
  }

  .title {
    border-bottom: 1px solid $lightGray2;
  }

  .content {
    border-bottom: 1px solid $lightGray2;
  }

  .footer {
  }
}
