@import "./variables.scss";

.avatar {
  border-radius: 100%;
  width: 42px;
  height: 42px;
  background-color: $lightGray;

  @media (max-width: 48em) {
    width: 32px;
    height: 32px;
  }
}

.flex {
  display: flex;

  & > * {
    flex: 1;
    flex-grow: 0;
    padding: 10px;
  }

  .flexGrow {
    flex-basis: content;
    flex-grow: 1;
  }
}

.green {
  color: $green;
}

.gray {
  color: $gray;
}

.small {
  font-size: 0.7rem;
}

.h1 {
  font-size: 2em;
  font-weight: bold;
}
.h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.h3 {
  font-size: 1.17em;
  font-weight: bold;
}
.h4 {
  font-weight: bold;
}
.h5 {
  font-size: 0.83em;
  font-weight: bold;
}
.h6 {
  font-size: 0.67em;
  font-weight: bold;
}
